:root {
    --main-bg-color: rgb(46, 46, 46);
    --seachbar-color: rgba(73, 73, 73, 0.404);
    --Cat-linkb-color:aliceblue;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

/* Homepage,Home page  Style  */

.heading {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_logo {
    width: 60%;
    padding: 10% 20%;
}

.Main_search {
    display: flex;
    width: 50%;
    height: 60%;
    border-radius: 20px;
    align-items: center;
    background-color: var(--seachbar-color);
    justify-content: space-between;
    padding: 0px 10px;
}

.search {
    position: relative;
    padding-left: 3%;
    font-size: 15px;
    color: rgb(0, 0, 0);
    height: 98%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    align-items: end;
    font-weight: bold;
}

.Se_icon {
    height: 25px;
}

.dp {
    margin-right:20px;
    width: 20%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.sayhi {
    font-weight: bold;
}

.profile_pic {
    background-image: url("../images/Sellers/M1.jpg");
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Catergpory_link {
    align-items: center;
    width: 100%;
    height: 8vh;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    border-top: 1px solid rgba(124, 124, 124, 0.719);
    position: sticky;
    top: 0px;
    background-color:var(--Cat-linkb-color)
}

.C_links {
    padding: 5px 20px;
    background-color: rgba(146, 146, 146, 0.315);
    border-radius: 20px;
    cursor: pointer;
}

.container {
    background-image: url("../images/Background_Home.jpg");
    width: 100%;

    height: auto;

    background-size: cover;
    background-repeat: no-repeat;
}

.head_content {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: 10%;
}

.head_content h1 {
    font-size: 50px;
    color: white;
}

.msg_button {
    cursor: pointer;
    width: 20%;
    margin: 5px;
    padding: 10px 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.b1 {
    background-color: blueviolet;
    border: 4px solid blueviolet;
}

.b2 {
    border: 4px solid blueviolet;
    background-color: rgba(137, 43, 226, 0.466);
}

.main_body {
    width: 90%;
    margin-left: 5%;
}


.navbar{
    /* background-color: rgb(78, 78, 78); */
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-evenly;
align-items: center;
    

}
.nav{
    color: white;
    height: 80%;
    align-items: center;
    padding:  10px 20px ;
    border-radius: 20px;    
    background-color: blueviolet;
        
    
}

/* jobcard style */
.jobcard{
    width: 90%;
    height:auto;
    border-bottom: 1px solid black;

    /* display: flex; */
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    
    margin-left: 5%;
    margin-bottom: 1%;
}
.jobcard:hover{
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
}


.PAsection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
   
}

.price{
    background-color: blueviolet;
    padding: 8px 10px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

.apply{
    background-color: blueviolet;
    padding: 15px 30px;
    color: white;
    font-weight: bold;
    border-radius: 20px;

}

.skillapp{
    display: flex;
    width: 100%;
    margin-bottom: 1%;
    
   

}


.seemore{
    color: black;
    width: 100%;
    margin-left: 50%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 4%;
}



/* Seller Card styles */
.seller_card {
    width: 90%;
    height: 150px;
    border-bottom: 1px solid black;

    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    
    margin-left: 5%;
    margin-bottom: 1%;
    
    
    
}

.seller_card:hover{
    box-shadow: 2px 2px 10px;
    border-radius: 20px;
}

.S_profile_img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    justify-content: center;

}

.S_profile_img{

    width: 220px;
    height: 150px;
    background-size: cover;
    border-radius: 50%;
    background-position:center; 
    background-image: url("../images/Sellers/1.jpg");
}

.S_detail {
    margin-left: 5%;
}

.Sname {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}
.jobtitle{
    padding: 2px 10px;
    background-color: rgba(255, 230, 0, 0.904);
    border-radius: 20px;
    margin-right: 10px;
    width: fit-content;
    margin-bottom: 1%;
    text-align: center;

}
.seller_desc {
    /* align-items: center; */
    display: flex;
    width: 90%;
    /* justify-content: space-between; */
}

.hirebtn {
    padding: 5px 10px;
    border-radius: 20px;
    width: 120px;
    background-color: blueviolet;
    color: white;
    
    text-align: center;
    cursor: pointer;
    margin-right: 2%;
    font-size: 20px;
}

.skill_list {
    display: flex;
    width:auto;
    margin-top: 2%;
    
}

.skills {
    padding: 2px 10px;
    background-color: rgb(199, 199, 199);
    border-radius: 20px;
    margin-right: 10px;
}








 
/* Profile style  */

.data{
    display: flex;
    width: 100%;
    padding: 40px;
}

.pimage{
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    
    width: 400px;
    height: 400px;
    box-shadow: 5px 5px 10px;
    /* border: 1px solid black;   */
   overflow: hidden;

}

.pro_details{
    text-align: justify;
    width: 80%;
    padding: 20px;
    margin-left: 3%;
}
.Head_Name{
    font-size: 50px;
}

.p_about{
    
    width: 80%;
}

.myskills .skills{
    margin: 5px;
    width: fit-content;

}
.myskills .skills{
float: left;
}

.seller_con{
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.conme{
    border-radius: 20px;
    color: white;

    width: 20%;
    text-align: center;
    padding: 10px 20px;
    background-color: blueviolet;
    cursor: pointer;

}

.conme:hover{
    box-shadow: 5px 5px 15x;
   
}

a{
    text-decoration: none;
    
}



/* footer Styles*/
.footer {
    background-color: var(--main-bg-color);
    width: auto;
    height: auto;
    color: white;
    padding: 20px 20px 20px 0px;
}

.fr_items {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.dp a{
    text-decoration: none;
    color: black;

}
.footer a {
    text-decoration: none;
    color: white;
    line-height: 150%;
}

.Row_item {
    display: flex;
    flex-direction: column;
}

.Row_item a {
    font-size: small;
}

.Hrule {
    margin-top: 1%;
}

.devt{
    width: 100%;
    text-align: center;
}

.iconset {
    width: 12%;

    display: flex;
    flex-direction: row;
}

.logo {
    width: 12%;
    height: auto;
}

.logoD {
    text-align: center;
}